.form-container {
    background-color: white;
    position: relative;
    top: 0;
    opacity: 1;
    margin: auto;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 330px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .error {
    background-color: #d84f4f;
    padding: 10px;
  }
  
  .success {
    background-color: #73cc73;
    padding: 10px;
  }

  .container{
    background-image: url(/assets/images/back.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}