<div class="container">
    <header class="header">
        <mat-toolbar class="toolbar">
            <img width="90" src="/assets/images/cervezas.svg" alt="logo cerveza" />
            <span class="titulo">Birras Meets</span>
            <div class="links">
                <ul>
                    <li>
                        <a href="http://localhost:4200/appointment">Crear Reunión</a>
                    </li>
                    <li style="float: right;">
                        <a href="http://localhost:4200/appointment-list">Ver Reuniones</a>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
    </header>
</div>