<!-- Form -->
<div class="container" fxLayoutAlign="center center">

    <div fxLayout="row" fxLayoutAlign="center center">

        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Entrar</mat-card-title>
            </mat-card-header>

            <form>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput placeholder="Usuario">
                    </mat-form-field>

                    <mat-form-field>
                        <input type="password" matInput placeholder="Contraseña">
                    </mat-form-field>
                </mat-card-content>
                <button mat-stroked-button color="accent">Entrar</button>
                <a mat-stroked-button color="accent" href="http://localhost:4200/register">No tengo cuenta</a>
            </form>
        </mat-card>

    </div>

</div>
